
// custom styles
.hover-highlight:hover {
    color: #76a4eb!important;
}
.hover-highlight:focus {
    color: #76a4eb!important;
}
.pointer {
	cursor: pointer;
}

.data-table-extensions {
    z-index: 9999;
}

.menu-collapsed .admin-logo {
    max-width: 44px!important;
}

.menu-expanded .admin-logo {
    max-width: 184px!important;
}

.awssld__timer--run {
    display: none;
}