
// custom styles
.hover-highlight:hover {
    color: #76a4eb!important;
}
.hover-highlight:focus {
    color: #76a4eb!important;
}
.pointer {
	cursor: pointer;
}

.data-table-extensions {
    z-index: 9999;
}

.menu-collapsed .admin-logo {
    max-width: 44px!important;
}

.menu-expanded .admin-logo {
    max-width: 184px!important;
}

.awssld__timer--run {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


// tree view
.tree-lineHorizontal {
    background-color: #000;
    width: 300px;
    height: 2px;
    display: inline-block;
    margin: 0px;
}

.tree-lineVertical {
    background-color: #000;
    width: 2px;
    height: 37px;
    // display: inline-block;
    margin: auto;
}

.tree-block {
    background-color: #777;
    display: inline-block;
    // margin: 0px;
}

.particle-background {
    background: linear-gradient(90deg, #181818 60px, transparent 1%) center, linear-gradient(#181818 60px, transparent 1%) center, #505050;
    background-size: 62px 62px!important;
}

.tree-label {
    padding: 4px 12px;
    border-radius: 4px;
    background: #986e1d;
    color: white;
    margin: auto;
    width: fit-content;
}